apps/api/config/app.yml
apps/api/config/settings.yml
apps/frontend/config/app.yml
apps/frontend/config/routing.yml
apps/frontend/config/settings.yml
*.DS_Store
cache/
config/ProjectConfiguration.class.php
config/databases.yml
config/sphinx.conf
data/dumps/
data/govtrack/
data/mysql-output/
data/opensecrets/
data/sfWebBrowserPlugin/
data/sphinx*
data/sql/
lib/model/doctrine/lsGovtrackPlugin/
log/
plugins/.*
plugins/lsGovtrackPlugin/
plugins/lsOpenSecretsPlugin
tmp/
web/.htaccess
web/crossdomain.xml
web/google*
web/images/
web/*sitemap*.xml
web/*cret.php
web/uploads/
