/* New Tui styles */

#container.home {
	width: 940px;
}

#leftcol.equal, #rightcol.equal {
	width: 460px;
	margin-bottom: 50px;
}

#leftcol.equal {
	margin-right: 0;
}


/* Footer */

#footer p {
	margin: 0;
	padding: 0;
}

#footer a img {
	border: none;
	margin: 20px 0 0 0;
}