/* backend/global/topmenu */

.backend_top_menu
{
  background-color: #ddd;
  padding: 1em;
  margin-bottom: 1em;
}

.backend_top_menu a
{
  padding: 5px;
}

.cache-remove-table td
{
  padding-bottom: 0.5em;
}