all:
  raw:
    class:      sfDoctrineDatabase
    param:
      dsn:      mysql://littlesis:PASSWORD@localhost/littlesis_raw

  main:
    class:      sfDoctrineDatabase
    param:
      dsn:      mysql://littlesis:PASSWORD@localhost/littlesis
