all:
  raw:
    class:      sfDoctrineDatabase
    param:
      dsn:      mysql://littlesis:themanbehindthemanbehindthethrone@localhost/littlesis_raw

  main:
    class:      sfDoctrineDatabase
    param:
      dsn:      mysql://littlesis:themanbehindthemanbehindthethrone@localhost/littlesis
